p {
	font-family: wingdings;
	font-size: 50px;
	color: black;
}

.cowritual{
	width: 600px;
	height: 600px;
	background-position: center;
	background-size: cover;
	padding-left: 500px;

}

body {
	background-color: #D8DDE8;

}

